server:
  port: 8080

spring:
  application:
    name: gateway

management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0
    http:
      ignore-patterns: /actuator/**
    export:
      zipkin:
        endpoint: http://${ZIPKIN_HOST:zipkin}:${ZIPKIN_PORT:9411}/api/v2/spans
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

